<!--<h1>Blogs#index</h1>-->
<!--<p>Find me in app/views/blogs/index.html.erb</p>-->
<!--q-->

<!--Bootstrapを適用する前までのコード　ここから-->
<!--<p>%= notice %></p>-->

<!--<h1>ブログ一覧</h1>-->

<!--% @blogs.each do |blog| %>-->
<!--  <p>タイトル:%= blog.title %></p>-->
<!--  <p>本文:%= blog.content %></p>-->
<!--  %= link_to "ブログを編集する", edit_blog_path(blog.id) %>-->
<!--  %= link_to 'ブログを削除する', blog_path(blog.id), method: :delete, data: { confirm: '本当削除していいですか？' } %>-->
<!--% end %>-->

<!--%= link_to "ブログを作成する", new_blog_path %>-->
<!--ここまで-->

<div class="container">
  <div class="wrapper col-md-8 col-md-offset-2 col-sm-10">

    <p><%= notice %></p>

    <h1>ブログ一覧</h1>
      <%= link_to "ブログを作成する", new_blog_path, class: 'btn btn-default' %>

    <% @blogs.each do |blog| %>
      <div class="row">
        <!--dive14_SNSログイン で編集　課題-->
        <%= profile_img(blog.user) %>
        <h4><strong><%= blog.title %></strong></h4>
        <p><%= blog.content %></p>
        <p style="text-align:right;">
          登録者 
          <!--<%= blog.user_id %> -->
          <%= blog.user_name %></p>
        <%= link_to "編集", edit_blog_path(blog.id), class: 'btn btn-default btn-sm btn-success' %>
        <%= link_to "削除", blog_path(blog.id), method: :delete, data: { confirm: '本当に削除していいですか？'}, class: 'btn btn-default btn-sm btn btn-danger' %>
      </div>
    <% end %>
    
    <div id="page-top-btn" class="page-top-btn">
      <p><a class="move-page-top" id="move-page-top">▲</a></p>
    </div>
  
  </div>
</div>

